@* Author: Tobias 2024-04-30 *@

@typeparam TObject
@inject NavigationManager NavMan

@* Add authorization! *@



<Button Color="ButtonColor.Success" @onclick="@(() => EditObject())" class=""> 
    Ändra 
</Button>



@code {
    [Parameter]
    public TObject? TargetObject { get; set; }

    public int Id { get; set; }

    public string? StringId { get; set; }

    private string? typeName;

    private void EditObject()
    {
        if (TargetObject == null)
        {
            return;
        }

        var dtoType = TargetObject!.GetType().Name.ToLower();

        var typeName = dtoType[..^3];

        var idProperty = TargetObject.GetType().GetProperty("Id");

        if(typeName == "realtor")
        {
            StringId = (string)idProperty!.GetValue(TargetObject)!;

            NavMan.NavigateTo($"/edit/{typeName}/{StringId}");
        }
        else
        {
            Id = (int)idProperty!.GetValue(TargetObject)!;

            NavMan.NavigateTo($"/edit/{typeName}/{Id}");
        }
        
    }
}
