@* Author: Tobias 2024-04-30 *@

@typeparam TDto
@inject NavigationManager navMan

@* Add authorization! *@



<button @onclick="@(() => EditObject())" class="btn btn-primary"> 
    Edit 
</button>



@code {
    [Parameter]
    public TDto? Dto { get; set; }

    public int Id { get; set; }

    private string? typeName;

    private void EditObject()
    {
        if (Dto == null)
        {
            return;
        }

        var dtoType = Dto!.GetType().Name;

        switch (dtoType)
        {
            case "SalesObjectDTO":
                typeName = "salesobject";
                break;

            case "RealtorDTO":
                typeName = "realtor";
                break;

            case "AgencyDTO":
                typeName = "agency";
                break;

            case "CategoryDTO":
                typeName = "category";
                break;

            case "CountyDTO":
                typeName = "county";
                break;

            default:
                throw new Exception("Object type not known!");
        }

        var idProperty = Dto.GetType().GetProperty("Id");

        if(idProperty == null)
        {
            throw new Exception("No Id property found!");
        }

        Id = (int)idProperty.GetValue(Dto)!;

        navMan.NavigateTo($"/edit/{typeName}/{Id}");
    }
}
