@* Author: Tobias 2024-04-30 *@

@typeparam TObject
@inject NavigationManager NavMan

@* Add authorization! *@



<button @onclick="@(() => EditObject())" class="btn btn-primary">
    Ändra
</button>



@code {
    [Parameter]
    public TObject? TargetObject { get; set; }

    public int Id { get; set; }

    private string? typeName;

    private void EditObject()
    {
        if (TargetObject == null)
        {
            return;
        }

        // var dtoType = TargetObject!.GetType().Name.ToLower();
        // var typeName = dtoType[..^3];

        // var idProperty = TargetObject.GetType().GetProperty("Id");
        // Id = (int)idProperty!.GetValue(TargetObject)!;

        // NavMan.NavigateTo($"/edit/{typeName}/{Id}");


        var dtoType = TargetObject.GetType().Name.ToLower();
        // var typeName = dtoType.Substring(0, dtoType.Length - 3);
        var typeName = dtoType[..^3];

        var idProperty = TargetObject.GetType().GetProperty("Id");
        var stringIdProperty = TargetObject.GetType().GetProperty("StringId");

        var idValue = idProperty?.GetValue(TargetObject)?.ToString();
        var stringIdValue = stringIdProperty?.GetValue(TargetObject)?.ToString();

        if (!string.IsNullOrEmpty(idValue))
        {
            NavMan.NavigateTo($"/edit/{typeName}/{idValue}");
        }
        else if (!string.IsNullOrEmpty(stringIdValue))
        {
            NavMan.NavigateTo($"/edit/{typeName}/{stringIdValue}");
        }

    }
}
