@* Author: Rebecka
  Update: Cleaned up code so we use GetById-component for all / Reb 2024-05-02
*@
@using System.Text.Json
@using System.Net.Http.Json
@using FribergHomes.Client.Services.Interfaces;
@using FribergHomes.Client.DTOs
@inject IRealtor realtorService
@inject ICategory categoryService
@inject ICounty countyService
@inject IAgencyService agencyService
@inject ISalesObject salesService
@typeparam TItem



@if (ListToShow != null)
{
    <div class="list-custom">

        @foreach (var item in ListToShow)
        {      
            @if (item is RealtorDTO realtor)
            {
                @* <GetById ObjectType="Realtor" ObjectId="realtor.Id" /> *@
            }
            else if (item is SalesObjectDTO salesObject)
            {
                <GetById ObjectType="SalesObject" ObjectId="salesObject.Id" />
            }
            else if (item is AgencyDTO agency)
            {
                <GetById ObjectType="Agency" ObjectId="agency.Id" />
            }
            else if (item is CountyDTO county)
            {
                <GetById ObjectType="County" ObjectId="county.Id" />
            }
            else if (item is CategoryDTO category)
            {
                <GetById ObjectType="Category" ObjectId="category.Id" />
            }
        }

    </div>
}


@code {
    [Parameter]
    public string? ObjectType { get; set; }

    public List<TItem>? ListToShow;

    private bool isFiltered = false;


    private async Task GetObjects()
    {
        if (ObjectType == "Realtor")
            ListToShow = (List<TItem>)(object)await realtorService.GetAllRealtorsAsync();
        else if (ObjectType == "SalesObject")
            ListToShow = (List<TItem>)(object)await salesService.GetAll();
        else if (ObjectType == "Category")
            ListToShow = (List<TItem>)(object)await categoryService.GetAllCategoriesAsync();
        else if (ObjectType == "County")
            ListToShow = (List<TItem>)(object)await countyService.GetAllCountiesAsync();
        else if (ObjectType == "Agency")
            ListToShow = (List<TItem>)(object)await agencyService.GetAllAgenciesAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetObjects();

    }

}
