@* Author: Tobias 2024-05-18
   ProfilePicture component
   Shows placeholder if no Realtor pictureUrl avail.
   Has default size settigns callable by parameter (Small, Medium, Large).
*@

<div class="pic-container @Size.ToString().ToLower()">
    <img src="@_imageUrl" alt="profile-picture" />
</div>

@code {

    [Parameter]
    public RealtorDTO? Realtor { get; set; }
    
    [Parameter]
    public PictureSize Size { get; set; }

    private string? _imageUrl;

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(Realtor!.Picture))
        {
            _imageUrl = "/no_profilepicture.png";
            return;
        }

        _imageUrl = Realtor.Picture;
    }

   public enum PictureSize
    {
        Small,
        Medium,
        Large
    }

}
