@* Author: Sanna 

    Behov? /Tobias
*@


@using FribergHomes.Client.Services.Interfaces
@using FribergHomes.Client.DTOs
@using FribergHomes.Client.Components
@inject NavigationManager NavigationManager
@inject ISalesObject salesService
@inject IAgencyService agencyService
@inject IRealtor realtorService
@inject ICategory categoryService

<h3>Add </h3>

@* @if()
{
    <AddObject ObjectType="agency"/>

}
else if()
{
<AddObject ObjectType="category"/>    
} *@

@code {
    [Parameter]
    public string? ObjectType { get; set; }
}
