@* Author: Sanna 2024-04-29 *@
@typeparam TObject
@using FribergHomes.Client.Services.Interfaces
@inject IAgencyService agencyService
@inject IRealtor realtorService
@inject ICategory categoryService
@inject ICounty countyService
@inject ISalesObject salesService

<h3>AddObject</h3>



@code {


}
