@* Author: Sanna *@
@page "/agency"
@using FribergHomes.Client.Services.Interfaces
@inject IAgencyService agencyService
@inject ISalesObject salesObjectService

<h3>Agency</h3>
<ListComponentTest TItem="AgencyDTO" Items="agencies"/>
@* <ListComponentTest TItem="object" Items="items" /> *@

@code {
    private List<AgencyDTO> agencies;
    // private List<object> items;
   

    protected override async Task OnInitializedAsync()
    {
        agencies = await agencyService.GetAllAgenciesAsync();   
    }

}
