@* Author: Sanna
Update: Reb 2024-05-02
Update: Skriver nu direkt ut alla mäklarbyråer Reb 2024-05-15
*@
@page "/agency"
@using FribergHomes.Client.DTOs
@using FribergHomes.Client.Services.Interfaces
@using FribergHomes.Client.Components
@inject IAgencyService agencyService

<h1>Mäklarbyåer</h1>

<hr/>

<div class="row">

    @if (Agencies != null)
    {
        <GetList ObjectType="Agency" TItem="AgencyDTO" />
    }
</div>

@code {
    private List<AgencyDTO> Agencies;

    private async Task ShowAllAgencies()
    {
        Agencies = await agencyService.GetAllAgenciesAsync();
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await ShowAllAgencies();
    }
}
