@* Author: Reb 2024-05-01 
    Update: Skriver nu ut alla kategorier direkt / Reb 2024-05-15
*@
@page "/category"
@using FribergHomes.Client.DTOs
@using FribergHomes.Client.Services.Interfaces
@using FribergHomes.Client.Components
@inject ICategory categoryService

<h1>Kategorier</h1>

<hr />

<div class="row">

    @if (CategoryDtoList != null)
    {
        <GetList ObjectType="Category" TItem="CategoryDTO"></GetList>
    }

</div>

@code {
    private List<CategoryDTO> CategoryDtoList;

    protected override async Task OnInitializedAsync()
    {
        await ShowAllCategories();
    }

    private async Task ShowAllCategories()
    {
        CategoryDtoList = await categoryService.GetAllCategoriesAsync();
        StateHasChanged();
    }

}
