@* Author: Reb 2024-04-26
* Update: Added Search-component / Reb 2024-05-01
*@
@page "/county"
@using FribergHomes.Client.DTOs
@using FribergHomes.Client.Services.Interfaces
@using FribergHomes.Client.Components
@using System.Text.Json
@using BlazorBootstrap
@inject ICounty countyService

<h3>Kommuner</h3>

<hr />

<div class="row">

    <Button Color="ButtonColor.Info"
    @onclick="ShowAllCounties">
        Hämta alla kommuner <Icon Name="IconName.CaretDown" />
    </Button>

    @if (CountiesDtos != null)
    {
        <Button Color="ButtonColor.Secondary" @onclick="HideAllCounties">
            Göm Lista<Icon Name="IconName.CaretUp" />
        </Button>

@*         <form @onsubmit="HideAllCounties">
            <button type="submit">Göm Lista</button>
        </form> *@

        <GetList ObjectType="County" TItem="CountyDTO"></GetList>
    }
</div>

<hr />

<Search></Search>

<hr />

<h4>Sök kommun via Id:</h4>
<form @onsubmit="SubmitId">
    <input type="number" @bind="countyId" />
    <button type="submit">Hämta kommun</button>
</form>
@if (countyId != 0)
{
    <GetById ObjectId="@countyId" ObjectType="County" />
}


@code {
    private CountyDTO? CountyDto { get; set; }
    private List<CountyDTO> CountiesDtos;

    private int countyId = 0;

    private async void SubmitId()
    {
        CountyDto = await countyService.GetCountyByIdAsync(countyId);
        StateHasChanged();
    }

    private async void ShowAllCounties()
    {
        CountiesDtos = await countyService.GetAllCountiesAsync();
        StateHasChanged();
    }

    private async void HideAllCounties()
    {
        CountiesDtos = null;
        StateHasChanged();
    }

    // protected override async Task OnInitializedAsync()
    // {
    //     CountiesDtos = await countyService.GetAllCountiesAsync();
    //     StateHasChanged();
    // }
}
