@* Author: Tobias 2024-05-02 *@

@page "/edit/{objecttype}/{id:int}"

@using FribergHomes.Client.Services.Interfaces

@inject NavigationManager NavMan
@inject ISalesObject SalesObjectService
@inject IRealtor RealtorService
@inject IAgencyService AgencyService
@inject ICounty CountyService
@inject ICategory CategoryService

@* Add authorization! *@



@if (ObjectType == "salesobject")
{
    if (SalesObject == null)
    {
        <p>Laddar försäljningsobjekt...</p>
    }
    else
    {
        <h3>Ändra försäljningsobjekt</h3>
        <h4>Visa formulär för försäljningsobjekt med ID: @SalesObject!.Id </h4>

        <EditForm Model="SalesObject" OnValidSubmit="Submit" FormName="SalesObjectForm">
            <DataAnnotationsValidator />
            <div>
                <label>
                    Objektbeskrivning
                    <InputText @bind-Value="SalesObject!.ObjectDescription" />
                </label>
            </div>
            <div>
                <label>
                    Adress
                    <InputText @bind-Value="SalesObject!.Adress" />
                </label>
            </div>
            <div>
                <label>
                    Pris
                    <InputNumber @bind-Value="SalesObject!.CurrentPrice" />
                </label>
            </div>
            <div>
                <label>
                    Byggnationsår
                    <InputNumber @bind-Value="SalesObject!.BuildYear" />
                </label>
            </div>
            <div>
                <label>
                    Rum
                    <InputNumber @bind-Value="SalesObject!.Rooms" />
                </label>
            </div>
            <div>
                <label>
                    Boarea
                    <InputNumber @bind-Value="SalesObject!.LivingArea" />
                </label>
            </div>

            @if (category == "House" || category == "TownHouse" || category == "VacationHome")
            {
                <div>
                    <label>
                        Biarea
                        <InputNumber @bind-Value="SalesObject!.AncillaryArea" />
                    </label>
                </div>
                <div>
                    <label>
                        Tomtarea
                        <InputNumber @bind-Value="SalesObject!.PlotArea" />
                    </label>
                </div>

                @if (category == "House" || category == "VacationHome")
                {
                    <div>
                        <label>
                            Driftkostnad
                            <InputNumber @bind-Value="SalesObject!.YearlyCost" />
                        </label>
                    </div>
                }
            }

            @if (category == "TownHouse" || category == "Apartment")
            {
                <div>
                    <label>
                        Månadsavgift
                        <InputNumber @bind-Value="SalesObject!.MonthlyFee" />
                    </label>
                </div>

                @if (category == "Apartment")
                {
                    <div>
                        <label>
                            Våning
                            <InputNumber @bind-Value="SalesObject!.Level" />
                        </label>
                    </div>
                    <div>
                        <label>
                            Hiss
                            <InputSelect @bind-Value="SalesObject!.Lift">
                                <option value="null">
                                    Hiss?
                                </option>
                                <option checked="@(SalesObject!.Lift == true)" value="true">
                                    Ja
                                </option>
                                <option checked="@(SalesObject!.Lift == false)" value="false">
                                    Nej
                                </option>
                            </InputSelect>
                        </label>
                    </div>
                }
            }
            <div>
                <button type="submit">Spara</button>
            </div>

        </EditForm>
    }
}

@if (ObjectType == "realtor")
{
    if (Realtor == null)
    {
        <p>Laddar mäklare...</p>
    }
    else
    {
        <span>Visa formulär för mäklare med ID: @Realtor!.Id </span>

        <EditForm Model="Realtor" OnValidSubmit="Submit" FormName="RealtorForm">
            <DataAnnotationsValidator />
            <div>
                <label>
                    Namn
                    <InputText @bind-Value="Realtor!.FullName" />
                </label>
            </div>
            <div>
                <label>
                    Email
                    <InputText @bind-Value="Realtor!.Email" />
                </label>
            </div>
            <div>
                <label>
                    Telefon
                    <InputText @bind-Value="Realtor!.PhoneNumber" />
                </label>
            </div>
            <div>
                <label>
                    Namn
                    <InputText @bind-Value="Realtor!.FullName" />
                </label>
            </div>
            <div>
                <label>
                    Profilbild
                    <InputText @bind-Value="Realtor!.Picture" />
                </label>
            </div>
            <div>
                <button type="submit">Spara</button>
            </div>

        </EditForm>

    }
}

@if (ObjectType == "agency")
{
    if (Agency == null)
    {
        <p>Laddar mäklarbyrå...</p>
    }
    else
    {
        <span>Visa formulär för mäklarbyrå med ID: @Agency!.Id </span>

        <EditForm Model="Agency" OnValidSubmit="Submit" FormName="AgencyForm">
            <DataAnnotationsValidator />
            <div>
                <label>
                    Namn
                    <InputText @bind-Value="Agency!.Name" />
                </label>
            </div>
            <div>
                <label>
                    Presentation
                    <InputText @bind-Value="Agency!.Presentation" />
                </label>
            </div>
            <div>
                <label>
                    Logo
                    <InputText @bind-Value="Agency!.Logo" />
                </label>
            </div>
            <div>
                <button type="submit">Spara</button>
            </div>

        </EditForm>

    }
}

@if (ObjectType == "category")
{
    if (County == null)
    {
        <p>Laddar kommun...</p>
    }
    else
    {
        <span>Visa formulär för kommun med ID: @County!.Id </span>

        <EditForm Model="County" OnValidSubmit="Submit" FormName="CountyForm">
            <DataAnnotationsValidator />
            <div>
                <label>
                    Namn
                    <InputText @bind-Value="Category!.Name" />
                </label>
            </div>
            <div>
                <label>
                    Ikon
                    <InputText @bind-Value="Category!.IconUrl" />
                </label>
            </div>
            <div>
                <button type="submit">Spara</button>
            </div>

        </EditForm>

    }
}

@if (ObjectType == "county")
{
    if (County == null)
    {
        <p>Laddar kommun...</p>
    }
    else
    {
        <span>Visa formulär för kommun med ID: @County!.Id </span>

        <EditForm Model="County" OnValidSubmit="Submit" FormName="CountyForm">
            <DataAnnotationsValidator />
            <div>
                <label>
                    Namn
                    <InputText @bind-Value="Category!.Name" />
                </label>
            </div>
            <div>
                <button type="submit">Spara</button>
            </div>

        </EditForm>

    }
}





@code {

    [Parameter]
    public string? ObjectType { get; set; }

    [Parameter]
    public int Id { get; set; }

    private string? category;

    public SalesObjectDTO? SalesObject { get; set; }

    public RealtorDTO? Realtor { get; set; }

    public AgencyDTO? Agency { get; set; }

    public CategoryDTO? Category { get; set; }

    public CountyDTO? County { get; set; }


    protected override async Task OnParametersSetAsync()
    {
        switch (ObjectType)
        {
            case "salesobject":

                SalesObject = await SalesObjectService.Get(Id);
                category = SalesObject.CategoryName;
                break;

            case "realtor":

                Realtor = await RealtorService.GetRealtorByIdAsync(Id);
                break;

            case "agency":

                Agency = await AgencyService.GetAgencyByIdAsync(Id);
                break;

            case "category":

                Category = await CategoryService.GetCategoryByIdAsync(Id);
                break;

            case "county":

                County = await CountyService.GetCountyByIdAsync(Id);
                break;
        }
    }

    private async void Submit()
    {
        switch (ObjectType)
        {
            case "salesobject":

                await SalesObjectService.Update(Id, SalesObject!);
                break;

            case "realtor":

                Realtor = await RealtorService.UpdateRealtorAsync(Realtor!);
                break;

            case "agency":

                Agency = await AgencyService.UpdateAgencyAsync(Id, Agency!);
                break;

            case "category":

                Category = await CategoryService.UpdateCategoryAsync(Category!);
                break;

            case "county":

                County = await CountyService.UpdateCountyAsync(County!);
                break;
        }
    }
}
