/*Author: Tobias*/

* {
    display: flex;
    flex-direction: column;
}


/*.content-frame {
    display: flex;
    align-content: center;
    
}

.content-box {
    display: flex;
    width: 100%;
    border: dashed;
    border-color: black;
}*/

.row {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.icon-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.col {
    flex-direction: column;
}

.mt {
    margin-top: 1rem;
}

button {
    margin-top: 1.5rem;
}

.fixed-digit {
    width: 80px;
}

.fixed-small {
    width: 100px;
}

.fixed-medium {
    width: 200px;
}

.fixed-large {
    width: 350px;
}

.input-text {
    width: 500px;
}

.info {
    font-style: italic;
    margin: 0;
}
