@page "/"
@using FribergHomes.Client.Components
@using FribergHomes.Client.Authentications
@using FribergHomes.Client.Services.Interfaces
@inject IAuthService authService
@inject AuthProvider _authStateProvider;
@inject IRealtor RealtorService

<div class="text-center">

    @if (authState.User.Identity.IsAuthenticated)
    {
        <h2>Välkommen, @authState.User.Identity.Name</h2>
    }
    else
    {
        <Search></Search>
    }

</div>

@code{
    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        authState = await authService.CheckAuthState();
        StateHasChanged();
    }
}