@* Author: Sanna
   Component for listing generic objects by using typeparam TItem
*@
@using FribergHomes.Client.Services.Interfaces
@typeparam TItem
@inject IAgencyService agencyservice
@inject ISalesObject salesobject 

<h3>ListComponentTest</h3>


@if (Items != null && Items.Any())
{
    <ul>
        @foreach (var item in Items)
        {
            <li>@DisplayItem(item)</li>
        }
    </ul>
}
else
{
    <p>Det finns inga objekt att visa.</p>
}

@code {
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    private string DisplayItem(object item)
    {
        if(item is AgencyDTO agency)
        {
            return $"{agency.Name}";
       
        }
        else if (item is RealtorDTO realtor)
        {
            return $"{realtor.FullName}";
        }
        return item.ToString();
    }
}
