@* Author: Sanna
   Component for listing generic objects by using typeparam TItem
*@
@typeparam TItem

<h3>ListComponentTest</h3>


@if (Items != null && Items.Any())
{
    <ul>
        @foreach (var item in Items)
        {
            <li>@item.ToString()</li>
        }
    </ul>
}
else
{
    <p>Det finns inga objekt att visa.</p>
}

@code {
    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

}
