@page "/register"
@using FribergHomes.Client.Authentications
@using FribergHomes.Client.Services.Interfaces
@inject IAgencyService agencyService
@inject AuthService tokenHandler
@inject HttpClient httpClient
@inject NavigationManager NavigationManager


<div>
    @if (error != null)
    {
        <p>@error</p>
    }
    <h1>Registrera dig</h1>
    <hr />
    <div class="row justify-content-center pb-3 pt-4">
        <div class="col-md-4">
            <section>
                <form method="post" @onsubmit="RegisterRealtor">
                    <div class="form-floating mb-3">
                        <input @bind="firstName" class="form-control" autocomplete="Firstname" aria-required="true" placeholder="Sven" />
                        <label class="form-label">Förnamn</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input @bind="lastName" class="form-control" autocomplete="LastName" aria-required="true" placeholder="Svensson" />
                        <label class="form-label">Efternamn</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input @bind="phoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="07X XXX XX XX" />
                        <label class="form-label">Telefon</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input @bind="email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label class="form-label">Email</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input @bind="password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Lösenord" />
                        <label class="form-label">Lösenord</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input @bind="confirmPassword" class="form-control" aria-required="true" placeholder="Lösenord" />
                        <label>Bekräfta lösenord</label>
                        <span class="text-danger"></span>
                    </div>
                    @if(Agencies != null)
                    {
                    <div class="form-floating mb-3">
                        <p>Mäklarbyrå</p>
                        <select @bind="agencyId">
                            <option value="">Välj mäklarbyrå</option>
                            @foreach (var agency in Agencies)
                            {
                                <option value="@agency.Id">@agency.Name</option>
                            }
                        </select>
                    </div>
                    }
                    <div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Registrera dig</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@code {
    private string firstName;
    private string lastName;
    private string phoneNumber;
    private string email;
    private string password;
    private string confirmPassword;
    private string token;
    private string error;

    private int agencyId;
    private List<AgencyDTO> Agencies;

    protected override async Task OnInitializedAsync()
    {
        Agencies = await agencyService.GetAllAgenciesAsync();
        StateHasChanged();
    }

    private async Task RegisterRealtor()
    {
        if (password == confirmPassword)
        {
            try
            {
                RegisterRealtorDTO newRealtor = new RegisterRealtorDTO()
                    {
                        FirstName = firstName,
                        LastName = lastName,
                        Email = email,
                        PhoneNumber = phoneNumber,
                        Password = password,
                        AgencyId = agencyId
                    };

                token = await tokenHandler.Register(newRealtor); // Registrerar ny användare och lägger in token + role

                NavigationManager.NavigateTo("/"); // testa för att se att de funkar
            }
            catch (Exception ex)
            {
                error = ex.Message;
            }

        }
    }
}
