@* Author: Reb 2024-04-30
Update: Reb 2024-05-15
*@
@page "/salesObject"
@using FribergHomes.Client.DTOs
@using FribergHomes.Client.Services.Interfaces
@using FribergHomes.Client.Components
@inject ISalesObject salesService

<h1>Annonser</h1>

<hr />

<h3>Alla annonser:</h3>
<div class="row">
    <Button Color="ButtonColor.Primary" @onclick="ShowAllSaleObjects">
        Visa alla annonser i Hela Sverige
    </Button>

    @if (ListSalesDtos != null)
    {
        <Button Color="ButtonColor.Secondary" @onclick="HideAllSaleObjects">
            Göm lista
        </Button>

        <GetList ObjectType="SalesObject" TItem="SalesObjectDTO"></GetList>
    }
</div>

<hr />

<Search></Search>

@code {

    private SalesObjectDTO SalesObjectDto { get; set; }
    private List<SalesObjectDTO> ListSalesDtos;

    private int salesId;
    private string salesCounty;

    private async void ShowAllSaleObjects()
    {
        ListSalesDtos = await salesService.GetAll();
        StateHasChanged();
    }

    private async void HideAllSaleObjects()
    {
        ListSalesDtos = null;
        StateHasChanged();
    }

}
