@page "/weather"
@using System.Text.Json
@inject HttpClient HttpClient

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>Hämtning från vårt WebAPI</p>

@if (categories == null)
{
    <p><em>Väntar på kategorier...</em></p>
}
else
{
    <table>
        <thead>
            <tr>Id</tr>
            <tr>Name</tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>@category.Id</tr>
                <tr>@category.Name</tr>
            }
        </tbody>

    </table>
}

@code {
    private List<Category>? categories;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            categories = await HttpClient.GetFromJsonAsync<List<Category>>("api/Category");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }


    }


    public class Category
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string IconUrl { get; set; }
    }
}
