@page "/weather"
@using System.Text.Json
@using FribergHomes.Client.Components
@using FribergHomes.Client.Services.Interfaces
@inject ISalesObject SoService

<PageTitle>Weather</PageTitle>



<p>Skrivning mot vårt WebAPI</p>





@code {
    public SalesObjectDTO salesObject = new()
    {
        CreatorName = "Tobias Ledin",
        Adress = "Blomgatan 1",
        Rooms = 1,
        LivingArea = 10,
        AncillaryArea = 5,
        MonthlyFee = 6000,
        Level = 3,
        Lift = true,
        ListingPrice = 1000000,
        CurrentPrice = 1000000,
        ObjectDescription = "Mysig lägenhet.",
        BuildYear = 2020,
        RealtorId = 3,
        AgencyId = 3,
        CountyId = 183,
        CategoryId = 1

    };

    protected override async Task OnInitializedAsync()
    {


        try
        {
            await SoService.Create(salesObject);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }


    }


    
}
