@inherits LayoutComponentBase

<header>
    @* <NavMenu /> *@
    <NavBar />
</header>

<main>
    <article class="content px-4 pb-4 content-custom shadow">
        @Body
    </article>
</main>

<footer class="border-top footer fixed-bottom p-2 text-center">
    &copy; 2024 - Friberg Homes AB
</footer>

