<nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 border-bottom">
    <div class="container-fluid">

        <a class="navbar-brand home-logo" href=""><img src="../hemlangtanfriberg_mini.png" width="50" alt="Hemlängtan" /></a>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                <li class="nav-item">
                    <NavLink class="nav-link" href="salesObject">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Annonser
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="category">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kategorier
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="agency">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Mäklarbyråer
                    </NavLink>
                </li>
                @* Tobias *@
                <AuthorizeView Roles="Realtor, Admin">
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="login">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logga In
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="register">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Registrera
                            </NavLink>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li class="nav-item">
                            <NavLink class="nav-link profile" href="realtorprofile">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Min Profil
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <LogOut /> @*Reb*@
                        </li>
                    </Authorized>
                </AuthorizeView>
                @* Rebecka *@
                <AuthorizeView Roles="Admin">
                    <Authorized>
                        <li class="nav-item agencyprofile">
                            <NavLink class="nav-link" href="agencyprofile">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Byrå Profil
                            </NavLink>
                        </li>

                    </Authorized>
                </AuthorizeView>

            </ul>
        </div>

    </div>

</nav>

